body{
    background-color:#e6f0ff;
}

form{
    width: 400px;

}

h2{
    text-transform: capitalize;
    color: blueviolet;
    margin-bottom: -2px;
}

#p1{
    margin-bottom: 5px;
    font-weight: 100;
}

.input{
    /* padding-right: 10px; */
    border:1px solid black;
    border-radius: 5px;
    
}

#hh4{
    margin-bottom: 5px;
}
button{
    border-width: 4px;

    background-color: lightblue;
    width: 20%;
    margin-right: 100px;
}

input{
    width: 400px;
}

.btn{
    border-width: 2px;
    border-style: groove;
    border-color: green;
    border-radius: 5px;
    color: white;
    background-color:lightseagreen;
    margin-top: 8px;
    
}

/* .holder{
    position: fixed;
    bottom:-50px;
    right: 20px;
    width: 300px;
    height: 150px;
    resize: none;
    overflow: auto;
    padding: 10px;
    font-size: 14px;

} */

.option {
  display:flex;
  justify-content: space-between; /* text on left, button on right */
  width: 150px; /* adjust width as needed */
  margin: 5px 0;
}


